
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyEmail</title>
</head>
<body>
    <h1>Thank for your register</h1>
    <a href="https://localhost:5002/">Go to login</a>
</body>
</html>
